@charset "UTF-8";

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 100%;
	background: #efefef;
	height: 100%;
	overflow: auto;
}

li a {
	text-decoration: none;
	padding: 10px;
	display: block;
	color: #000;
	font-weight: bold;
}

li a:hover {
	background: #333;
	color: #fff;
}

li a.seat {
	background: #333;
	color: #fff;
}

div>p {
	font-weight: bold;
}

#parent {
	margin-top: 20px;
	margin-left: 1%;
	display: flex;
}

.sideMenu {
	width: 15%;
}

.sideMenu h1{
	text-align: center;
}

.cd1 {
	margin-left : 2%;
	width:80%;
	
	/* margin-left: 140px; */
}

table {
	border: 0px solid black;
}

th, td {
	border: 0px solid black;
	padding: 10px 20px;
}

#modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#modal h2 {
	margin: 0;
}

#modal button {
	display: inline-block;
	width: 100px;
}
/* Modal Content/Box */
#modal .modal_content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 50px;
	border: 1px solid #888;
	width: 30%; /* Could be more or less, depending on screen size */
	border-radius: 20px;
}

#modal .modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}
/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.paymentBtn {
	background: #c9e7f0;
	color: #000;
	border-radius: 12px;
	padding: 8px 30px;
	border: none;
	margin: 30px;
	display: inline-block;
	font-weight: bold;
	font-size:15px;
}

.findBtn {
	width: 100%;
	text-align: center;
}

.positionBtn {
	margin-left: 130px;
}

form {
	display: inline-block;
}