@charset "UTF-8";
/* 사이드바 디자인 */
.sidebar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 250px;
	background: #efefef;
	height: calc(100vh);
	position: absolute;
}

li a {
	text-decoration: none;
	padding: 20px;
	display: block;
	color: #000;
	font-weight: bold;
	text-align: center;
	font-size: 1.2rem;
}

li a:hover {
	background: #333;
	color: #fff;
}

.side_title {
	font-size: 1.5rem;
	padding: 40px;
	text-align: center;
	font-family: monospace;
	background-color: white;
}


.cd1 {
	margin-left: 260px;
	font-size: 1.5rem;
	padding: 30px;
}

.cd1 p {
	font-size: 1.5rem;
	margin-left: 30px;
	font-weight: bold;
}