@charset "UTF-8";
/* 사이드바 디자인 */
.sidebar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 250px;
	background: #efefef;
	position: absolute;
}

.sidebar li a {
	text-decoration: none;
	padding: 20px;
	display: block;
	color: #000;
	font-weight: bold;
	text-align: center;
	font-size: 1.2rem;
}

.sidebar li a:hover {
	background: #333;
	color: #fff;
}

.side_title {
	font-size: 1.5rem;
	padding: 40px;
	text-align: center;
	font-family: monospace;
	background-color: white;
}


.cd1 {
	margin-left: 260px;
	font-size: 1.5rem;
	padding: 30px;
}

.cd1 p {
	font-size: 1.5rem;
	margin-left: 30px;
	font-weight: bold;
}
.text {
	padding: 40px 60px;
}

.clickbutton {
	text-align: center;
}

.text div label {
	width: calc(100%/ 4 - 2px);
	display: inline-block;
	padding: 10px;
	margin: 10px 5px;
}

.text div input {
	border: solid 2px #efefef;
	border-radius: 10px;
	background-color: #efefef;
	height: 45px;
	font-size: 16px;
	width: calc(100%/ 3 - 2px);
}

/* 모달 디자인 */
.modal {
	text-align: center;
}

.modal p {
	font-size: 20px;
}
.modal button {
	background-color: #B2ECC7;
	color: #000;
	border-radius: 12px;
	padding: 8px 30px;
	border: none;
	margin: 30px;
	display: inline-block;
	font-weight: bold;
	font-size: 15px;
	margin: auto;
}
