@charset "UTF-8";

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */

}
/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 60%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-top {
	margin: 0% auto; /* 15% from the top and centered */
	padding: 0px;
	text-align: center;
	width: 100%
}
#study-table {
    width: 100%;
}

#study-table td:nth-child(1) {
    width: 60%;
}

#study-table td:nth-child(2) {
    width: 40%;
}
/* 돋보기 버튼 css*/
.btn-outline-custom {
	background-color: transparent;
	color: #007bff;
	border-color: #007bff;
}

.btn-outline-custom:hover {
	background-color: #007bff;
	color: #ffffff;
	border-color: #007bff;
}

.btn-outline-custom:focus, .btn-outline-custom.focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-custom:not(:disabled):not(.disabled):active,
	.btn-outline-custom:not(:disabled):not(.disabled).active, .show>.btn-outline-custom.dropdown-toggle
	{
	color: #ffffff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-group-lg>.btn, .btn-lg {
	padding: 0.5rem 4.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 1rem;
}
#page-numbers {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

#page-numbers li {
    margin: 0 5px;
}

#searchForm {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}


/* 전체적인 틀 조정 css*/
.mainpage{

}
.title-container {
	margin-top: 5rem;
	transform: scale(1.1); /* 전체 크기 25% 증가 */
	
}

.search-button {
    margin-top: 0;
    margin-bottom: 1rem
    }

.line-divider {
	width: 30%;
	border-bottom: 3px solid #0057B6;
	margin-bottom: 1rem;
	margin-top: 0.5rem;
	margin-left:0;
}

.buttons-container {
	align-items: flex-end;
	/* margin-top: 13rem; */
}
.title-text-color{
	color: #0057B6;
	font-weight: bold;
}
.user-text-color{
	color: #2196F3;
}

.lead{
	margin-top: 1.5rem;
}
.searchBar {
    margin-top: 1.2rem;
}
#mapsearch {
	margin-top: 0px;
	margin-bottom: 0px;
    display: flex;
    align-items: center;
}

#mapsearch h5 {
    margin-right: 10px;
}

#mapsearch button {
    border: none;
    background: none;
    margin-left: 10px;
}

#mapBtn {
  font-size: 1rem; /* 버튼의 글꼴 크기를 1.5rem으로 설정 */
  padding-top: 10px;
}
#map-wrapper {
	display: none;
}

.carousel-control-prev,
.carousel-control-next{
	border: none;
	background: 0 0;
}
.carousel {
	max-width: 90%;
	margin-top: 50px;
}
