<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.studywithme.mapper.StudyCafeMapper">

	<select id="getTotalCount" resultType="int">
		SELECT COUNT(1) 
		  FROM study_cafe
		 WHERE name LIKE '%' || #{keyword} || '%'
	</select>

	<select id="selectStudyCafeList"
			parameterType="map"
			resultType="org.studywithme.domain.StudyCafeVO">
		SELECT cafe_no
              ,user_id
              ,address
              ,name
              ,qr_code
              ,room_approval
              ,room_count
              ,seat_approval
              ,seat_count
              ,locker_approval
              ,locker_count
		  FROM (
			   SELECT cafe_no
			         ,user_id
                     ,address
                     ,name
                     ,qr_code
                     ,room_approval
                     ,room_count
                     ,seat_approval
                     ,seat_count
                     ,locker_approval
                     ,locker_count
                     ,ROWNUM AS rnum
                FROM study_cafe
			   WHERE name LIKE '%' || #{keyword} || '%'
		) 
		WHERE rnum BETWEEN ((#{currentPage} - 1) * #{perPage}) AND (#{currentPage} * #{perPage}) 
	</select>
</mapper>